/* Empty. Add your own CSS if you like */
ion-view.pane
{
	height: 100%;
	/*height: 90%;*/
	/*width: 100%;
	padding: 0;
	margin: 0;*/
	background-color: #BE1212;
}
ion-header-bar.bar
{
	padding: 0px;
}
#actionbarHeader
{
	background-image: url("../img/actionbar.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 75px;
	z-index: 0px;
}
#actionBattle
{
	height: 59%;
	width: 13%;
	background-color: blue;
	float: right;
	z-index: 50px;
}
#actionBag
{
	height: 59%;
	width: 13%;
	background-color: yellow;
	float: right;
	z-index: 50px;
	margin-right: 4px;
}
#actionDex
{
	height: 59%;
	width: 13%;
	background-color: green;
	float: right;
	z-index: 50px;
	margin-right: 4px;
}
.bar.bar-stable
{
	background-color:#BE1212;
}
div.bar
{
	background-color: #BE1212;
}
#startbg
{
	background-image: url("../img/Pokedex-dylan.png");
	width: 100%;
	height: 100%;
}
div#pijlFooter
{
	height: 50px;
	background-color:#BE1212;
	position:relative;
	margin:0 auto;
    /*replace 900px with your width*/
	width:100%;
}
#startbutton
img#open
{
	width: 100%;
	height: 100%;
}
#bar-footer
{
	width:100%;
	height: 50px;
	float:left;
    position:fixed;
	bottom:0;
	z-index:999999;
}
.list
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}
.border
{
	border-left: 10px solid #ffffff;
	border-right: 10px solid #ffffff;
	border-bottom: 10px solid #ffffff;
}
.item
{
	background-color: #78D0E8;
}
.item-divider
{
	background-color: #F5F5F5;
}
span#starter
{
	margin-left: 5%;
	/*position:relative;
	top: -100%;*/
	position:absolute;
	top: 30%;
}
button#button
{
	visibility:hidden;
	float: right;
	margin-bottom: 5%;
	margin-right: 5%;
	background-color: #BE1212;
	border: none;
}
img.caught
{
	/*float:right;*/
	position:absolute;
	top: 30%;
	margin-left: 50%;
	visibility:hidden;
}
#caughtBulba
{
	visibility:hidden;
}
#caughtChar
{
	visibility:hidden;
}
#caughtSquirt
{
	visibility:hidden;
}
#caughtCat
{
	visibility:hidden;
}
div#zButton
{
	margin-top: -100px;
	z-index: 1px;
	background-color:#BE1212;
}

/*BATTLE SCREEN*/
#battlescreen
{
	background-image: url("../img/battle.png");
	background-repeat: no-repeat;
	background-size: contain;
	/*background-color: green;*/
	width: 100%;
	height: 100%;
	margin-top: 100px;
	margin-bottom: 10px;

}
#run
{
	width: 45%;
	height: 15%;
	background-color: yellow;
	position: absolute;
	bottom: 15px;
	right: 15px;
}
#bag
{
	width: 45%;
	height: 15%;
	background-color: yellow;
	position: absolute;
	bottom: 15px;
	left: 13px;
}
#fight
{
	width: 95%;
	height: 20%;
	background-color: blue;
	position: absolute;
	bottom: 117px;
	left: 10px;
}